$negrita: bold;
$size: 25px; 
$alinear-centro: center;
$mobile: 320px;
$mobile-horizontal: 480px;
$tablet: 650px;
$ipad: 900px;
$no: none;
$fondo-opaco: black;
$ancho: 100%;
$color-del-cuerpo: #BF9739;
$tipo-de-letra: verdana;