$negrita: bold;
$size: 25px; 
$alinear-centro: center;
$mobile: 320px;
$mobile-horizontal: 480px;
$tablet: 650px;
$ipad: 900px;
$no: none;
$fondo-opaco: black;
$ancho: 100%;
$color-del-cuerpo: #e6e6e6;
$tipo-de-letra: verdana;
$primary-color: #9dd6ed;
$easing: all 0.5s cubic-bezier(.55,0,.1,1);
$base-size: 20rem; 