@import "variables/variables";
@import "../sass2/ext-op-cond-ap-mix";
.faater{
    @extend .header-footer;
    grid-area: footer;
    .fila-una{
        text-align: center;
        .blanco{
            color: white;
        }
        .div-das{
            display: flex;
            justify-content: space-evenly;
            .marcas{
                width: 15%;
            }
        }
    }
    
    .fila-das{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 33% 33% 33%;
        margin-top: 4%;
        .center{
            display: flex;
            justify-content: center;
            .fast-env{
            width: 150px;
            height: 100px;
        }
        }
        
        .social-media {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .social-media .icon-media {
        list-style: none;
      }
      
      .social-media .icon-media .media-link {
        width: 60px;
        background-color: #fff;
        text-align: center;
        font-size: 35px;
        margin: 0 10px;
        display: block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        border: 3px solid #fff;
        z-index: 1;
      }
      
      .social-media .icon-media .media-link .icon {
        position: relative;
        color: #262626;
        transition: .5s;
        z-index: 3;
      }
      
      .social-media .icon-media .media-link:hover .icon {
        color: #fff;
        transform: rotateY(360deg);
      }
      
      .social-media .icon-media .media-link:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f00;
        transition: .5s;
        z-index: 2;
      }
      
      .social-media .icon-media .media-link:hover:before {
        top: 0;
      }
      
      .social-media .icon-media:nth-child(1) a:before{
        background: #3b5999;
      }
      
      .social-media .icon-media:nth-child(2) a:before{
        background: #55acee;
      }
      
      .social-media .icon-media:nth-child(3) .media-link:before {
        background: linear-gradient(45DEG, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
      }
      
        .logo{
            width: 50%;
        }
    }
    .formulario {
        margin: 2%;
        padding: 2%;
        color: white;
        transition: all 2s;
        text-align: center;
        .label::first-letter{
            color: blanchedalmond;
            font-size: medium;
        }
        input::selection{
            background-color: red;
            color: orangered;
        }
    }
    .previous-next{
        @include flexibilizar-centrar;
        a {
            @include fuentes
        }
    }
}