@import "variables/variables";
@import "../sass2/ext-op-cond-ap-mix";
.faater{
    @extend .header-footer;
    grid-area: footer;
    .fila-una{
        text-align: center;
        .blanco{
            color: white;
        }
        .div-das{
            display: flex;
            justify-content: space-evenly;
            .marcas{
                width: 15%;
            }
        }
    }
    .fila-das{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 25% 25% 25% 25%;
        margin-top: 4%;
        .ladoimg {
            vertical-align: top;
        }
        .cajayarriba{
            display: flex;
            flex-direction: column;
            .arribaimg {
                list-style: none;
                .safe-secure{
                    color: white;
                    font-size: 25px;
                }
            }
            .caja {
                width: 150px;
                list-style: none;
                .caja1{
                    width: 75%;
                }
            }
        }
        .logo{
            width: 50%;
        }
        .xx {
            margin: 2% 0;
            font-size: 100%;
            list-style-type: none;
            color: white;
        }
        .remove-circle{
            list-style-type: none;
            .red {
                width: 25%;
            }
        }
    }
    .formulario {
        margin: 2%;
        padding: 2%;
        color: white;
        transition: all 2s;
        text-align: center;
        .label::first-letter{
            color: blanchedalmond;
            font-size: medium;
        }
        input::selection{
            background-color: red;
            color: orangered;
        }
    }
    .previous-next{
        @include flexibilizar-centrar;
        a {
            @include fuentes
        }
    }
}