@import "../variables/variables";

$message: (
    color: $negrita,
    fSize: $size, 
    list-style-type: $no,
);

.contact{
    font-weight: map-get($message,color);
    font-size: map-get($message,fSize);
} 
.list-contact-one{
    font-weight: map-get($message,color);
}